[submodule "software/arduino/hardware/dadamachines/samd/libraries/automat-software"]
	path = software/arduino/hardware/dadamachines/samd/libraries/automat-software
	url = https://github.com/dadamachines/automat-software.git
